/* MAPS */
#map {
  width: 100%; 
  height: 85vh;
  border-radius: 1%;

}
@media screen and (max-width: 768px) {
  .maps {
    height: 200px; /* Reduzir a altura para dispositivos menores */
    
  }
}
 /* FIM MAPS */
/* CORPO DA PÁGINA */
body, html {
  height: 100%;
  margin: 0;
  padding: 0; 
  text-align: justify; 
  background: linear-gradient(90deg, #f2f0f0, #8f8e89, #c4d8d9);
}
header {
  background: linear-gradient(90deg, #f2f0f0, #8f8e89, #c4d8d9);
  padding: 10px;  
}
main {
  display: flex;
  height: calc(100% - 40px); /* Altura total da janela menos a altura do cabeçalho e rodapé */
}
/* Dividindo as sections e divs da Página */
.left-section, .right-section {
  flex-basis: 50%;
  padding: 20px; 
  /* Defina um tamanho inicial para a seção */
  width: 100%;
  max-width: 500px; /* Por exemplo, um máximo de 500px */
  margin: 0 auto; /* Centralize horizontalmente a seção */
}
/* Defina regras de estilo específicas para tamanhos de tela menores */
@media screen and (max-width: 768px) {
  .right-section {
    max-width: 100%; /* Altere o tamanho máximo para preencher a largura total */
  }
}
.left-section {
  width: 100%; /* Define a largura da seção como 100% */
  max-width: 500px; /* Define um tamanho máximo para a seção */
  margin: 0 auto; /* Centraliza a seção horizontalmente */  
}
@media screen and (max-width: 768px) {
  .left-section {
    max-width: 100%; /* Altera o tamanho máximo para preencher a largura total */
    padding: 10px; /* Adiciona um espaçamento interno para melhor legibilidade */
    font-size: 2vw;
  }
  .caixaTextoCadastro,
      .caixaTextoCadastro2 {
        width: 100%; /* Define a largura dos inputs e textarea como 100% */
      }
    }
    .right-section {
      min-width: calc(100% - 30%);
        /* background-color: #f9f9f9; */
      }
  /* CABEÇALHO */  
  header {
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }  
  nav li {
    float: left;
  }  
  nav li a {
    font-size: 25px;
    display: block;
    color: #686767;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }  
  nav li a:hover {
    font-size: 26px;
    font-weight: bold;
    color: #000000;
    transform: scale(1.2);
  }  
  .logo {
    max-width:3%;
    height: auto;
  }
  .logo:hover{
    transform: scale(1.2);
  }
    /* Tela de cadastro */
    .telaDeCadastro{
      border: 1px solid #ccc;
      border-radius: 5%;
      padding: 3%;
      background-color: rgba(243, 243, 252, 0.3);
    }
    .caixaTextoCadastro,
    .caixaTextoCadastro2 {
      opacity: 0.5;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      box-shadow: #333;
    }
    .caixaTextoCadastro:focus,
    .caixaTextoCadastro2:focus {
      opacity: 1;
      outline: none; /* remover o contorno ao focar */
      border-color: #0f13ea; /* cor da borda ao focar */
      box-shadow: 0 0 5px rgba(16, 45, 189, 0.5);
    }
    
    #btnsalvar {
      display: block;
      width: 100%;
    }
    
    /* Estilos para dispositivos menores */
    @media screen and (max-width: 480px) {
      .caixaTextoCadastro,
      .caixaTextoCadastro2 {
        padding: 8px;
      }
    }
/* Tela de cadastro */
/* Ancora de Botão CAD */
.cad {
  display: inline-block;
  background-color: #1060a7;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}        
.cad:hover {
  background-color: #1c8321;
}        
@media screen and (max-width: 600px) {
  .cad {
    display: block;
    margin: 10px auto;
    width: 80%;
    font-size: 2vw;
    }
}